.experience {
    display: flex;
    flex-direction: row;
}

.experience-label {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.experience-entries {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.experience-header {
    margin-bottom: 4px;
}

.experience-date {
    margin-bottom: 8px;
}

.experience-description {
    color: #818385;
    font-weight: 300;
}

.job-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.job-wrapper > img {
    padding-right: 12px;
    height: 64px;
    width: 64px;
}