#my-name {
    margin-bottom: 0;
}

#description {
    margin-top: 0;
}

.typing-style-wrapper {
    display: inline-block;
}

.typing-style {
    overflow: hidden;
    border-right: .15em solid var(--color-secondary);
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
}

.typing-forward-animation {
    animation: typing 1s steps(20, end) forwards;
}

.typing-backwards-animation {
    animation: typing-backwards 1s steps(20, end) forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes typing-backwards {
    from { width: 100% }
    to { width: 0 }
}

.details {
    margin-top: 24px;
}

.projects {
    margin-top: 54px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-wrapper {
    width: calc(33.3% - 4px);
    margin-right: 4px;
    cursor: pointer;
    position: relative;
}

.project-wrapper > img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.project-box {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-name {
    background-color: rgba(256, 256, 256, .75);
    padding: 8px;
    width: 75%;
    font-weight: bold;
}

.project-description {
    margin-top: 4px;
    color: white;
    width: 70%;
    text-align: left;
    font-weight: 400;
}
