.container-fluid {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.about-me {
    background-color: white;
    margin-top: 150px;
    padding: 20px;
    outline: 10px solid white;
    border: 2px solid black;
}