.about-me {
    background-color: white;
    margin-top: 150px;
    padding: 20px;
    outline: 10px solid white;
    border: 2px solid black;
}

.info {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-me-buttons {
    width: 100%;
    height: 10px;
    top: -20px;
}

.button-layers:hover .button-colored-bar {
    background-color: rgba(114, 177, 109, 1.0);
    top: -15px;
    margin-bottom: -5px;
}