.container-fluid {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}