.article-clipping-container {
    position: relative;
    min-width: 245px;
    min-height: 120px;
    padding: 20px;
    border: 2px solid #1c321b;
    height: 300px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.article-clipping-container .article-content {
    height: 60%;
}

.article-clipping-container:hover {
    transform: scale(1.01, 1.01);
    cursor: pointer;
}

.article-header {
    margin-top: -25px;
}

.article-title {

}

.article-written-by {

}

.article-date {
    margin-top: 15px;
    margin-bottom: 15px;
}

.article-content {

}