.intro-text {
    max-width: 600px;
    display: inline-block;
    height: 20px;
}

.index-buttons {
    width: 123px;
    height: 10px;
    top: -9px;
    left: -2px;
}

.button-layers:hover .button-colored-bar {
    background-color: rgba(114, 177, 109, 1.0);
    top: -4px;
    height: 15px;
}

h4 {
    margin-top: -5px;
    color: black;
}

.image-box {
    position: relative;
    min-width: 245px;
    min-height: 120px;
    padding: 20px;
    transition: all 0.5s ease;
}

.image-box:hover .description-box {
    transform: scale(1.03, 1.03);
    color: white;
    background-color: rgba(114, 177, 109, 1.0);
}

.imageBorder {
    position: relative;
    border: 2px solid #1c321b;
}

.description-box {
    position: absolute;
    bottom: 10px;
    height: 80px;
    max-width: 400px;
    border: 2px solid #1c321b;
    background-color: white;
    margin-left: -30px;
    padding: 7px 15px;
    transition: all 0.5s ease;
}

