html, body, #root, #root>div {
    width: 100vh;
    height: 100vh;
    background-color: rgb(65, 82, 60);
}

h1,h2 {
    color: rgb(114, 177, 109);
}

h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.25em;
}